<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cet Library</title> 
    <link rel="icon" href="imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css.map">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bondi.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700&family=Lalezar&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700&family=Lalezar&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700&family=Lalezar&family=Noto+Kufi+Arabic:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body> 
    <nav class="navbar navbar-expand-lg navbar-expand-md  ">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="searchWeb d-none">
              <form action="">
                <input class="searchwebinput" type="search">
              </form>
            </div>
            <div class="search me-auto ps-3 pe-3 d-none ">
              <i class="fa-solid fa-magnifying-glass"></i>
              <a class="navbar-brand" href="#"></a></div>
            <ul class="navbar-nav mb-2 mb-lg-0 fw-bolder ms-auto ">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-5 p-2 p-lg-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  حول
                </a>
                <ul class="navdropdown dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="linktomagr dropdown-item fs-6" href="#">عن اتحاد الطلبة </a></li>
                  <li><a class="linktomagr dropdown-item fs-6" href="#">عن الكلية</a></li>
                
                </ul>
              </li>
              <!---->
             
              <li class="nav-item">
                <a class="nav-link fs-5 p-2 p-lg-4 " href="#">تطبيقات مفيدة</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5 p-2 p-lg-4 " href="#">المشاركات</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link fs-5 p-2 p-lg-4" href="#" >
                  اختر تخصصك
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5 p-2 p-lg-4 active" href="#">الرئيسية</a>
              </li>
            </ul >
            <a class="navbar-brand d-none d-lg-block d-md-block" href="">
              <img class="logonav" src="imgs/logocuet.png" alt="">
            </a>
          <!-- nav bar  -->
            <!--من هنا تقدر تمسح لانه هذا تبع المحتوي الصفحه-->
        </div>
      </nav>
      <div class="container  text-center  ">
        <div class="landingRow row">
          <div class=" col-lg-6 col-12 col-md-6  ">
            <div class="landing d-flex justify-content-center align-items-center ">
              <div class="text-center text-light">
                <img class="imglogo" src="imgs/logolibray.png" alt="">
                <h2 class="nameOfProjact fs-1 fw-bolder" >مكتبة كلية التقنية الالكترونية</h2>
              <p class="info fs-6 text-white mb-4 mt-4 fw-bold">كُلّ ماتحتاجُه في مسيرتِك بالكلية هنا؛<br>
                مكتبة كلية التقنية الإلكترونية هي مشروع يهدف لتوفير المناهج الدراسِيّة وأسئلة الامتحانات السابقة، والعديد من المصادر المساعدة؛ في مكان واحد متاح في أي وقت.<br>
                ويمكنك أيضًا مشاركتنا بأي ملف عن طريق باب المشاركات</p>
                
                  <a class="getStarted fw-bold fs-5 btn btn-primary rounded-pill main-btn" href="#">Get Started</a>            
              </div>
            </div>
          </div>
          <div class=" col-0 d-lg-block d-md-block d-none col-md-6 col-lg-6">
            <div class="landing d-flex justify-content-center align-items-center ">
              <div class="text-center text-light">
                <img class="" src="imgs/libray2.png" alt="">
          
          </div>
        </div>
      </div>
      </div>
      </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/all.min.js"></script>
    <script src="js/index.js"></script>
    
  
</body>
</html>