

:root{
    --dark-color : #19283f;
    --greaen-color:#146C94;
    ;
}
body
{
    box-shadow: 0px 0px 2px 5px #ffffff5e;
    background-color: rgb(250 252 255);
    font-family: 'Cairo', sans-serif;
    background-position: center ;
    background-size: cover;
}
.searchWeb{
    margin: 15px;
/* montaser */
}
.searchwebinput{
    border-radius: 15px;
    border-width: 3px;
    border: solid 1px;
}

.navbar{
    background-color: rgb(255 255 255);
    box-shadow: 2px -8px 15px 2px #00000073;
    margin-bottom: 10px;

}

.navbar .navbar-nav  .nav-link{
    font-family: 'Cairo', sans-serif;
    color: black;
    font-weight: 600;
    
}
.barmeun{
    color:  #000000;
}
.navbar .navbar-nav  .nav-link.active,
.navbar .navbar-nav  .nav-link:focus,
.navbar .navbar-nav  .nav-link:hover{
    color :var(--greaen-color)
}
 .navbar .navbar-toggler{
    color:  #000000;
    font-size: 25px;
    border-color: white;
 }
.navbar .search{
    border-left: 1px solid var(--greaen-color);

}
.navbar .search svg{
    color: var(--greaen-color);
}
.navbar .navbar-toggler:focus{
box-shadow: none;
}
/* .navbar-brand{
    background-color: white;
    padding-bottom: 60px;
    padding-top: 70px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    position: relative;
    top: -115px;
}
    */

.logonav{
    width: 75px;
    background-color: white;
    padding-bottom: 16px;
    padding-top: 23px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    position: relative;
    top: -30px;
    left: 35px;
}
/* nav bar */

/* landing */
a{
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    transition: all ,1ms;
    

 }
a:hover{
    color: #f24e1e;
}


.hlink{
    color: #000000;
}



.buttonMeunn{
    margin: 1px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}


h5{
    text-align: center;
    align-self: center;
    }
.imgmnh{
    background-size: cover;
    height: 75%;
    margin: auto;
    padding: 10px;
    border-radius: 18px;
}


.footer {
    z-index: 10;
     font-family: 'Cairo', sans-serif;
     background-color: #29658d;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
 }
 
 .footer p {
     direction: rtl;
     margin: 0;
     font-size: 0.75rem;
     color: white;
 }
 
 .footer .logoandP img {
     width: 4rem;
 }
 
 .footer .logoandP {
     display: flex;
     align-items: center;
     direction: rtl;
 }
 
 .footer .logoandP p {
     margin: 0 10px;
 }
 
 .footer .contact {
     display: flex;
     align-items: center;
 }
 
 .footer .contact a {
     font-size: 24px;
     color: white;
     margin: 0 12px;
 }

 #dropzone {
   border: 2px dashed #ccc;
   width: 100%;
   height: 200px;
   padding: 25px;
   text-align: center;
   cursor: pointer;
   margin-top: 20px;
 }

#sendbtn{
    background-color:#29658d ;
    width: 8rem;
    height: 2.5rem;
}
#form-list{

}
#shares{
    margin: auto;
    width: 85% ;
    height: auto;
    padding: 10rem;
    box-shadow: 20px 0px 20px 8px #2f7ca961;border-top-right-radius: 12px ;border-bottom-right-radius: 12px;
}
@media screen and (max-width: 600px) {
    #shares{
        margin: auto;
        width: 100% ;
        height: auto;
        
        box-shadow: 20px 0px 20px 8px #2f7ca961;border-top-right-radius: 12px ;border-bottom-right-radius: 12px;
    }
}



#department,#course{

    text-align: center;
    
}
#allform{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;

}